body {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  background-position: center;
  background-size: cover;
}
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.76);
  z-index: -1;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 70vh;
  width: 70vw;
  border-radius: 20px;
}

.slide {
  position: absolute;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  top: -15vh;
  left: -15vw;
  background-position: center;
  background-size: cover;
  box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}
.slide.slide-active {
  opacity: 1;
}

.button-arrow {
  position: fixed;
  background-color: transparent;
  padding: 20px;
  font-size: 30px;
  border: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.left-arrow {
  left: calc(10vw - 50px);
}

.right-arrow {
  right: calc(10vw - 50px);
}

.button-icon {
  width: 80px;
  height: 80px;
  fill: rgb(218, 218, 218);
}
